In [1]:
a=20

In [2]:
a='c'

In [4]:
type(a) ## there is no such thing as character datatype only string datatype in python

str

In [6]:
int('123')

123

In [7]:
int('abcd')

ValueError: invalid literal for int() with base 10: 'abcd'

In [8]:
print('Hello world')

Hello world

In [9]:
print(123)

123

In [10]:
age=18
print ("My age is: ",age)

My age is:  18

In [12]:
print(f"My age is: {age}")

My age is: 18

In [13]:
##f string used for formatting

In [14]:
## format()
## In python we start index from 0 
## In R we start from 1

In [15]:
name="ash"
age=18
print("My name is {} and my age is {}".format(name,age))

My name is ash and my age is 18

In [18]:
## placeholder order doesn't matter
print("My name is {firstname} and my age is {firstage}".format(firstage=age,firstname=name))

My name is ash and my age is 18

In [20]:
name="Ashwina Rawat"
age=18
degree="BCA"
"My age is 18 and i have completed: my degree of BCA with the name of Ashwina Rawat"

'My age is 18 and i have completed: my degree of BCA with the name of Ashwina Rawat'

In [22]:
print("My age is {} and i have completed: my dof degree of {} with the name of {}".format(age,degree,name))

My age is 18 and i have completed: my dof degree of BCA with the name of Ashwina Rawat

In [24]:
print("My age is {age} and i have completed: my degree of {degree} with the name of {name}".format(degree=degree,name=name,age=age))

My age is 18 and i have completed: my degree of BCA with the name of Ashwina Rawat

In [25]:
print(f"My age is {age} and i have completed: my dof degree of {degree} with the name of {name}")

My age is 18 and i have completed: my dof degree of BCA with the name of Ashwina Rawat

In [26]:

""" control  flow 
They are decision making statement"""

' control  flow \nThey are decision making statemetn'

In [27]:
## If statements
age=18
if age>=18:
    print("You are eligible to vote")

You are eligible to vote

In [ ]:
== , <= , >=

In [30]:
## If statements
age=17
if age<18:
    print("You are not eligible to vote")

You are not eligible to vote

In [32]:
## inout at runtime
input()

 hello!!!

'hello!!!'

In [37]:
## default datatype of input is string
name=input()

 Ashwina

In [34]:
name

'Ashwina'

In [36]:
name=input("Enter the name\n")

Enter the name
 Ashwina

In [38]:
age=int(input("Enter your age"))

Enter your age 18

In [10]:
## Tasks
"""
 1. Take age as input
 2.check whether the agr >= 18 and age<=45
 3. display  message you are young blood """

'\n 1. Take age as input\n 2.check whether the agr >= 18 and age<=45\n 3. display  message you are young blood '

In [46]:
age=int(input("Enter Your Age"))
if age>=18 and age<=45:
    print("you are young blood")

Enter Your Age 26

you are young blood

In [49]:
## if else statement
age=int(input("Enter Your Age"))
if age>=18 and age<=45:
    print("you are young blood")
else:
        print("Thank you Your application is rejected")

Enter Your Age 55

Thank you Your application is rejected

In [ ]:
## mall - input product price
## product >1000rs 20% off
## print the product price
## prodct <=1000 30%off
## print the product price

In [54]:
## self
product_price=int(input("Enter the price of product"))
if product_price<=1000:
    print('discout 30%')
    discount=product_price*0.3
    price=product_price - discount
    print("Discounted Price of product  is: ",price)
else:
    print("discount 20%")
    discount=product_price*0.2
    price=product_price - discount
    print("Discounted Price of product: ",price)

Enter the price of product 1021

discount 20%
Discounted Price of product:  816.8

In [1]:
## more efficient way
product_price=int(input("Enter the price"))
if product_price>1000:
    print("The price of product is {}".format(product_price*0.8))
    ##or we can write .format(product_price - (product_price*0.2))
else:
    print("The price of the product is {}".format(product_price*0.7))

Enter the price 1022

The price of product is 817.6

In [7]:
## even more efficient way
product_price=int(input("Enter the price"))
if product_price>1000:
    print(f"The price of product is {(product_price*0.8)}")
    ##or we can write .format(product_price - (product_price*0.2))
else:
    print(f"The price of the product is {(product_price*0.7)}")

Enter the price 1000

The price of the product is 700.0

In [8]:
## mall - input product price
## product >3000rs 20% off
## print the product price
## prodct >=2000 and <=3000 30%off
## print the product price
## price==2999 additional gift
## product <=1000rs and <=2000 40% off
## print the product price after removing the discount

In [5]:
## else if thing
product_price=int(input("Enter the price"))
if product_price>3000:
    if product_price==4000:
        print("Congratulations you get a goa trip")
    print(f"The price of product is {(product_price*0.8)}")
    ##or we can write .format(product_price - (product_price*0.2))
elif product_price>=2000 and product_price<=3000:
    if product_price==2999:
        print("Congratulation you get an additional gift")
    print(f"The price of the product is {(product_price*0.7)}")
elif product_price>=1000 and product_price<=2000:
    print(f"The price of the product is {(product_price*0.6)}")
else:
    print("No discount")

Enter the price 4000

Congratulations you get a goa trip
The price of product is 3200.0

In [6]:
## Single statement suites
val=int(input("Enter the number"))
if(val<=999):print("Value is less than or equal to 999")
else:
    print("go home")

Enter the number 598

Value is less than or equal to 999

## loop statements
1. while loop
2. for loop
3. nested loop
4. Loop control(break,continue,pass)

In [17]:
# while loop
joining_age=25
while joining_age<=60:
    print(joining_age)
    joining_age=joining_age+1
else:
    print("It's time for retirement")

25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
It's time for retirement

In [20]:
## ATM machine with 1000rs
total_amount=1000
while total_amount!=0:
    print(total_amount)
    total_amount=total_amount-100
else:
    print("Put more money bank peolple!!!")

1000
900
800
700
600
500
400
300
200
100
Put more money bank peolple!!!

## For loop

In [30]:
lst=["Ashwina",1,2,3,4,5,"apple","banana"]

In [31]:
type(lst)

list

In [33]:
lst[6]

'apple'

In [34]:
lst

['Ashwina', 1, 2, 3, 4, 5, 'apple', 'banana']

In [36]:
## for is used for iterating through the collection
for x in lst:
    print(x)

Ashwina
1
2
3
4
5
apple
banana

In [37]:
fruit_list=["mango","cherry","guava","kiwi","papaya"]

In [39]:
for a in fruit_list:
    print(a)
    if a=="kiwi":
        print("The fruit is kiwi...")

mango
cherry
guava
kiwi
The fruit is kiwi...
papaya

In [49]:
for a in fruit_list:
    print(a,end='') ## one line
    if a=="kiwi":
        print("\nThe fruit is kiwi...")
        break

mangocherryguavakiwi
The fruit is kiwi...

In [45]:
fruit='mango'
for x in fruit:
    print(x)
## conclusion : string is also a collection or list of charaters/elements

m
a
n
g
o

In [46]:
fruit[4]

'o'

In [51]:
## range 
for i in range(1,6):
    print(i)

1
2
3
4
5

In [56]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [66]:
##  Nested Loops
n=7

for i in range(0,n):
    for j in range(0,i+1):
         print("*",end='\t')

*	*	*	*	*	*	*	*	*	*	*	*	*	*	*	*	*	*	*	*	*	*	*	*	*	*	*	*

In [74]:
##  Nested Loops
n=7

for i in range(0,n):
    for j in range(0,i+1):
         print("*",end='')
    print("\r")

*
**
***
****
*****
******
*******

In [75]:
## loop controls
## break and continue
fruit_list=["mango","cherry","guava","kiwi","papaya"]

In [77]:
## skips the entire iterationonce condition is met
## stop the loop and go outside loop
for i in fruit_list:
    if i == "guava":
        print("The fruit is guava")
        break
    print(i)

mango
cherry
The fruit is guava

In [78]:
for i in fruit_list:
    if i == "guava":
        print("The fruit is guava")
        pass
    print(i)

mango
cherry
The fruit is guava
guava
kiwi
papaya

In [79]:
## skip the particular iteration when condition is met
for i in fruit_list:
    if i == "guava":
        print("The fruit is guava")
        continue
    print(i)

mango
cherry
The fruit is guava
kiwi
papaya